*.pyc
*.dll
*.log
.DS_Store
.idea/*
dailybuild.log
cardwirthpy_.*.zip
performance.txt
DebugInfo.txt
build
build_macx11-app/bundle_main
build_macx11-app/bundle_main.dSYM
build_macx11-app/archives
build_macx11-app/bin
build_macx11-app/lib
build_macx11-app/include
build_macx11-app/share
build_macx11-app/etc
build_macx11-app/pip-selfcheck.json
build_macx11-app/.Python
CardWirthPy.app
CardWirthPy
src.zip
Data/Face/*
Data/Skin/*
Data/Temp/*
Scenario/*
ScreenShot/*
UnregisteredScenario/*
UnconvertedYado/*
ConvertedYado/*
Yado/*
PlayLog/*
Settings.xml
Breakpoints.xml
Scenario.db
dist/*
CardWirthPy.spec
dailybuild_tmp/*
*.bat
versioninfo.py
monkeytype.sqlite3
